<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_robot">

<!-- Here  we define the model parameters -->

<!-- Geometry -->

<xacro:property name="base_link_length" value="0.5"/>
<xacro:property name="base_link_radious" value"0.4"/>

<xacro:include filename="$(finf gazebo_test)/model/robot.gazebo" />

	<link name="dummy">
	</link>
	
	<joint name="dummy_joint" type="fixed">
	<parent link="dummy"/>
	<child link="base_link"/>
	</joint>
	
	<link name="base_link">
		<visual>
			<geometry>
				<cylider length="${base_link_length}"
				radius="${base_link_radius}"/>
			</geometry>
			
			<!-- xyz - x,y,z -offsets -->
			<orgion rpy="0 0 0" xyz="0 0 0"/>
			
		</visual>
		
		<collision>
			<geometry>
				<cylider length="${base_link_length}"
				radius="${base_link_radius}"/>
			</geometry>
			<orgin rpy="0 0 0" xyz="0 0 0"/>
		</collision>

		<inertial>
				<orgion rpy="0 0 0" xyz"0 0 0"/>
				<mass value="1"/>
				<inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100"/>
			</inertial>
			
		</link>
		

</robot>
				
